body {
  margin: 0 30px;

}

section {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 85px;
  text-align: center;
}

input[type=text] {
  width: 560px;
  height: 35px;
  margin-top: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #F0F0F0;
    border: none;
    color: #666;
    font-weight: 600;
    font-size: 13px;
    padding: 9px 19px;
    text-decoration: none;
    margin: 14px 3px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 8px 4px;
    margin: 10px 6px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
}

.nav-button {
    background-color: #0066ff;
    font-weight: 600;
    color: white;
    padding: 8px 12px;
}

.nav-button li a:hover {
    text-decoration: none;
}
